@font-face {
  font-family: "GolosText";
  src:
    url("../fonts/GolosText-Regular.woff2") format("woff2"),
    url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src:
    url("../fonts/GolosText-Medium.woff2") format("woff2"),
    url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src:
    url("../fonts/GolosText-SemiBold.woff2") format("woff2"),
    url("../fonts/GolosText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src:
    url("../fonts/GolosText-Bold.woff2") format("woff2"),
    url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src:
    url("../fonts/Merriweather-Regular.woff2") format("woff2"),
    url("../fonts/Merriweather-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src:
    url("../fonts/Merriweather-Bold.woff2") format("woff2"),
    url("../fonts/Merriweather-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "GolosText", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #313131;
}

main {
  flex-grow: 1;
}

header {
  flex-grow: 0;
}

footer {
  flex-grow: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 100%;
  width: 1260px;
  padding: 0 19px;
  margin: 0 auto;
}

.h1 {
  margin: 0;

  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
}

.h2 {
  margin: 0;

  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 5.8vw;
  }
}

@media screen and (max-width: 576px) {
  .h1 {
    font-size: 9.6vw;
    line-height: 1.12;
  }
}

/* btn */

.btn {
  min-height: 72px;
  width: 263px;
  max-width: 100%;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;

  border-radius: 66px;
  border: none;
  transition: all 0.3s ease-in;
}

.btn:hover {
  cursor: pointer;

  transition: all 0.3s ease-in;
}

.btn--black {
  color: #FFFFFF;

  background-color: #1F1F1F;
}

.btn--black:hover {
  color: #1F1F1F;

  background-color: #FBCE51;
}

.btn--transparent {
  color: #1F1F1F;

  border: 2px solid #1F1F1F;
}

.btn--transparent:hover {
  color: #FFFFFF;

  background-color: #1F1F1F;
}

@media screen and (max-width: 1024px) {
  .btn--transparent {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
  }
}

@media screen and (max-width: 576px) {
  .btn  {
    min-height: 0;
    padding: 13px 5px;
  }
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 26px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 7px;

  font-size: 16px;
  font-weight: 700;
  color: #595653;
  text-transform: uppercase;
}

.header__logo img {
  display: block;
}

.header__logo:hover {
  cursor: pointer;

  opacity: 0.6;
}

@media screen and (max-width: 576px) {
  .header {
    padding: 18px 0;
  }

  .header__logo {
    gap: 5px;

    font-size: 15px;
    line-height: 1.1;
    letter-spacing: -0.03em;
  }

  .header__logo img {
    width: 81px;
  }
}

/* main-top */

.main-top {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  padding: 124px 0 130px;

  background-image: url('../img/main-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #E9DED4;
}

.main-top__column {
  max-width: 100%;
  width: 542px;
}

.main-top__caption {
  margin: 0 0 27px;
}

.main-top__caption span {
  display: block;

  text-align: center;
}

.main-top__caption span:last-child {
  text-align: right;
}

.main-top__text {
  margin: 0 0 40px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
}

.main-top__link-row {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .main-top__column {
    width: 53vw;
  }
}

@media screen and (max-width: 576px) {
  .main-top {
    padding: 90px 0 294px;

    background-image: url('../img/main-bg-mobile.jpg');
    background-size: cover;
    background-position: bottom center;
  }

  .main-top__column {
    width: 100%;
  }

  .main-top__caption {
    margin-bottom: 22px;
  }

  .main-top__text {
    margin-bottom: 32px;

    text-align: left;
    font-size: 4.8vw;
    line-height: 1.3;
  }

  .main-top__link-row .btn {
    flex: 0 0 100%;
  }

  .main-top__link-row .btn br {
    display: none;
  }
}

/* running-line */

.running-line {
  max-width: 100%;
  width: 1920px;
  overflow: hidden;
  white-space: nowrap;

  margin: 0 auto;
  padding: 18px 0 17px;

  background-color: #F54932;
}

.running-line__content {
  display: inline-block;
  animation: running-line 20s linear infinite;
}

.running-line__text {
  position: relative;

  display: inline-block;
  margin: 0 30px 0 0;
  padding: 0;

  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
}

.running-line__text::after {
  content: "";

  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: #FFFFFF;
}

@keyframes running-line {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 576px) {
  .running-line {
    padding: 10px 0 9px;
  }

  .running-line__text {
    font-size: 16px;
    line-height: 1;
  }
}

/* event */

.event {
  margin: 80px 0;
}

.event__top-row {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-bottom: 64px;
}

.event__caption {
  font-size: 36px;
  line-height: 1.35;
}

.event__caption strong {
  font-weight: 700;
  color: #F54932;
}

.event__img {
  position: relative;
}

.event__img img {
  display: block;

  position: absolute;
  top: -29px;
  left: -27px;
  max-width: none;
}

.event__row {
  display: grid;
  grid-template-columns: 1fr 1.49fr;
  gap: 44px;
}

.event__list {
  margin: 60px 0 48px;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1.3fr;
}

.event__list dt {
  margin: 0;
  padding: 18px 16px 17px 0;

  font-size: 20px;
  line-height: 1;
  font-weight: 400;

  border-right: 2px solid #D0D0D0;
  border-bottom: 2px solid #D0D0D0;
}

.event__list dt:first-of-type {
  padding-top: 0;
}

.event__list dt:last-of-type {
  padding-bottom: 0;

  border-bottom: none;
}


.event__list dd {
  margin: 0;
  padding: 18px 0 15px 16px;

  font-size: 20px;
  line-height: 1;
  font-weight: 600;

  border-bottom: 2px solid #D0D0D0;
}

.event__list dd:first-of-type {
  padding-top: 0;
}

.event__list dd:last-of-type {
  padding-bottom: 0;

  border-bottom: none;
}

.event__list span {
  margin-right: 7px;

  text-decoration: 2px #F54932 line-through;
}

.event__bottom-link {
  display: block;

  color: #3057A2;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
