@font-face {
  font-family: "GolosText";
  src:
    url("../fonts/GolosText-Regular.woff2") format("woff2"),
    url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src:
    url("../fonts/GolosText-Medium.woff2") format("woff2"),
    url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src:
    url("../fonts/GolosText-SemiBold.woff2") format("woff2"),
    url("../fonts/GolosText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src:
    url("../fonts/GolosText-Bold.woff2") format("woff2"),
    url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src:
    url("../fonts/Merriweather-Regular.woff2") format("woff2"),
    url("../fonts/Merriweather-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src:
    url("../fonts/Merriweather-Bold.woff2") format("woff2"),
    url("../fonts/Merriweather-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "GolosText", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #313131;
}

main {
  flex-grow: 1;
}

header {
  flex-grow: 0;
}

footer {
  flex-grow: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 100%;
  width: 1260px;
  padding: 0 19px;
  margin: 0 auto;
}

.swiper-container {
  overflow: hidden;
}

.swiper-slide {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.swiper-pagination-bullet-active {
  background-color: #313131;
}

/* link */

.link {
  color: #3057A2;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.link:hover {
  cursor: pointer;

  text-decoration: none;
  opacity: 0.6;
}

@media screen and (max-width: 576px) {
  .link {
    font-size: 18px;
  }
}

/* h */

.h1 {
  margin: 0;

  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
}

.h2 {
  margin: 0;

  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 5.8vw;
  }
}

@media screen and (max-width: 576px) {
  .h1 {
    font-size: 9.6vw;
    line-height: 1.12;
  }

  .h2 {
    font-size: 36px;
    line-height: 1.1;
  }
}

/* btn-prev btn-next */

.btn-next,
.btn-prev {
  flex: 0 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background: #313131;
  border: none;
  outline: none;
  border-radius: 50%;
}

.btn-next:hover,
.btn-prev:hover {
  background-color: #FBCE51;
}

.btn-next:disabled,
.btn-prev:disabled {
  background-color: #D6D6D6;
}

@media screen and (max-width: 576px) {
  .btn-next,
  .btn-prev {
    width: 36px;
    height: 36px;
  }
}
/* btn */

.btn {
  min-height: 72px;
  width: 263px;
  max-width: 100%;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;

  border-radius: 66px;
  border: none;
  transition: all 0.3s ease-in;
}

.btn:hover {
  cursor: pointer;

  transition: all 0.3s ease-in;
}

.btn--black {
  color: #FFFFFF;

  background-color: #1F1F1F;
}

.btn--black:hover {
  color: #1F1F1F;

  background-color: #FBCE51;
}

.btn--transparent {
  color: #1F1F1F;

  border: 2px solid #1F1F1F;
}

.btn--transparent:hover {
  color: #FFFFFF;

  background-color: #1F1F1F;
}

@media screen and (max-width: 1024px) {
  .btn--transparent {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
  }
}

@media screen and (max-width: 576px) {
  .btn  {
    min-height: 0;
    padding: 13px 5px;
  }
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 26px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 7px;

  font-size: 16px;
  font-weight: 700;
  color: #595653;
  text-transform: uppercase;
}

.header__logo img {
  display: block;
}

.header__logo:hover {
  cursor: pointer;

  opacity: 0.6;
}

@media screen and (max-width: 576px) {
  .header {
    padding: 18px 0;
  }

  .header__logo {
    gap: 5px;

    font-size: 15px;
    line-height: 1.1;
    letter-spacing: -0.03em;
  }

  .header__logo img {
    width: 81px;
  }
}

/* main-top */

.main-top {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  padding: 124px 0 130px;

  background-image: url('../img/main-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #E9DED4;
}

.main-top__column {
  max-width: 100%;
  width: 542px;
}

.main-top__caption {
  margin: 0 0 27px;
}

.main-top__caption span {
  display: block;

  text-align: center;
}

.main-top__caption span:last-child {
  text-align: right;
}

.main-top__text {
  margin: 0 0 40px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
}

.main-top__link-row {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .main-top__column {
    width: 53vw;
  }
}

@media screen and (max-width: 576px) {
  .main-top {
    padding: 90px 0 294px;

    background-image: url('../img/main-bg-mobile.jpg');
    background-size: cover;
    background-position: bottom center;
  }

  .main-top__column {
    width: 100%;
  }

  .main-top__caption {
    margin-bottom: 22px;
  }

  .main-top__text {
    margin-bottom: 32px;

    text-align: left;
    font-size: 4.8vw;
    line-height: 1.3;
  }

  .main-top__link-row .btn {
    flex: 0 0 100%;
  }

  .main-top__link-row .btn br {
    display: none;
  }
}

/* running-line */

.running-line {
  max-width: 100%;
  width: 1920px;
  overflow: hidden;
  white-space: nowrap;

  margin: 0 auto;
  padding: 18px 0 17px;

  background-color: #F54932;
}

.running-line__content {
  display: inline-block;
  animation: running-line 20s linear infinite;
}

.running-line__text {
  position: relative;

  display: inline-block;
  margin: 0 30px 0 0;
  padding: 0;

  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
}

.running-line__text::after {
  content: "";

  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: #FFFFFF;
}

@keyframes running-line {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 576px) {
  .running-line {
    padding: 10px 0 9px;
  }

  .running-line__text {
    font-size: 16px;
    line-height: 1;
  }
}

/* event */

.event {
  margin: 106px 0 202px;
}

.event__top-caption {
  position: relative;

  margin-bottom: 94px;
  padding-right: 450px;

  font-size: 36px;
  line-height: 1.35;
}

.event__top-caption strong {
  font-weight: 700;
  color: #F54932;
}

.event__top-caption img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.event__caption {
  font-size: 36px;
  line-height: 1.35;
}

.event__caption strong {
  font-weight: 700;
  color: #F54932;
}

.event__img {
  grid-row: 1 / 3;
  position: relative;
}

.event__img img {
  display: block;

  position: absolute;
  top: -29px;
  left: -27px;
  max-width: none;
}

.event__row {
  display: grid;
  grid-template-columns: 1fr 1.49fr;
  gap: 0 44px;
}

.event__list {
  list-style: none;
  margin: 60px 0 48px;
  padding: 0;
}

.event__item {
  display: grid;
  grid-template-columns: 1fr 1.3fr;

  border-bottom: 2px solid #D0D0D0;
}

.event__item-dt {
  margin: 0;
  padding: 18px 16px 17px 0;

  font-size: 20px;
  line-height: 1;
  font-weight: 400;

  border-right: 2px solid #D0D0D0;
}


.event__item-dd {
  margin: 0;
  padding: 18px 0 15px 16px;

  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}

.event__item:first-child .event__item-dt,
.event__item:first-child .event__item-dd {
  padding-top: 0;
}

.event__item:last-child .event__item-dt,
.event__item:last-child .event__item-dd {
  padding-bottom: 0;
}

.event__item:last-child {
  border: none;
}

.event__list span {
  margin-right: 7px;

  text-decoration: 2px #F54932 line-through;
}

.event__bottom-link {
  display: block;
}

@media screen and (max-width: 1200px) {
  .event__img img {
    top: 0;
    left: 0;

    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .event__row {
    grid-template-columns: 1fr;
  }

  .event__img {
    grid-row: initial;
    width: calc(100% + 19px + 19px);
    margin: 0 -19px 25px;
  }

  .event__img img {
    position: static;

    margin: 0 auto;
    display: block;
  }

  .event__top-caption {
    padding-right: 0;
    margin-bottom: 33px;
  }

  .event__top-caption span {
    display: block;
  }

  .event__top-caption img {
    position: static;

    display: block;
    margin: 24px auto;
    transform: none;
  }
}

@media screen and (max-width: 576px) {
  .event {
    margin: 50px 0 122px;
  }

  .event__list {
    margin-top: 45px;
    margin-bottom: 42px;
  }

  .event__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17px;
  }

  .event__item-dt {
    padding-top: 0;
    padding-right: 13px;
    border: none;
  }

  .event__item-dd {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 17px;
  }


  .event__item:last-child .event__item-dt {
    padding-bottom: 16px;
  }

  .event__top-caption {
    font-size: 28px;
  }

  .event__caption {
    font-size: 28px;
  }
}

/* stages */

.stages {
  margin-bottom: 200px;
}

.stages__caption {
  margin-bottom: 54px;

  width: 720px;
  max-width: 100%;
}

.stages__caption .link {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  margin-left: 6px;

  text-transform: none;
  font-family: "GolosText", "Arial", sans-serif;
}

.stages__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  counter-reset: stages 0;
}

.stages__swiper-container {
  position: relative;
}

.stages__swiper-container::after {
  content: "";

  position: absolute;
  z-index: 1;
  bottom: -3px;
  right: -62px;

  pointer-events: none;
  display: block;
  width: 400px;
  height: 235px;

  background: url("../img/airplane.png") no-repeat center/contain;
}

.stages__item {
  counter-increment: stages 1;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 20px 21px 20px 20px;

  background-image: url("../img/stages-bg.jpg");
  background-position: 0 0;
  background-size: auto;
}

.stages__item::before {
  content: counter(stages);

  flex: 0 0 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  border-radius: 50%;
  background-color: #FFFFFF;
}

.stages__item p {
  margin: 0;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.stages__column {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: subgrid;
}

.stages__item--two-row {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.stages__row > .stages__item:last-child {
  grid-column: 2 / 4;
  padding: 20px 40% 20px 20px;
}

.stages__btn-row {
  display: none;
}

@media screen and (max-width: 1360px) {
  .stages {
    overflow: hidden;
  }

  .stages__row > .stages__item:last-child {
    padding-right: 26vw;
  }

  .stages__swiper-container::after {
    right: -6vw;
  }
}

@media screen and (max-width: 1110px) {
    .stages__swiper-container::after {
        right: -9vw;
    }

    .stages__row > .stages__item:last-child {
        padding-right: 30vw;
    }
}

@media screen and (max-width: 1024px) {
  .stages__row {
    padding-top: 130px;
    grid-template-columns: 1fr 1fr;
  }

  .stages__item {
    padding: 20px;
  }

  .stages__row > .stages__item {
    grid-column: 1 / 3;
  }

  .stages__item--two-row {
    grid-row: initial;
    grid-column: 1 / 3;
  }

  .stages__row > .stages__item:last-child {
    padding: 20px;
    grid-column: 1 / 3;
  }

  .stages__swiper-container::after {
    bottom: auto;
    right: auto;
    top: -57px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  .stages__item p {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .stages {
    margin-bottom: 122px;
  }

  .stages__row {
    display: flex;
    align-items: stretch;
    gap: 0;
    padding-top: 145px;
    box-sizing: border-box;
  }

  .stages__caption {
    margin-bottom: 0;
  }

  .stages__caption .link {
    display: block;
    margin: 12px 2px 3px 0px;
    width: 100%;
  }

  .stages__swiper-container::after {
    top: 4px;
    left: 53%;
    width: 352px;
    height: 215px;

    background: url("../img/airplane-mobile.png") no-repeat center/contain;
  }

  .stages__item {
    padding: 63px 20px 32px 20px;
  }

  .stages__row > .stages__item {
    min-height: 300px;
    padding-bottom: 0;
  }

  .stages__column {
    display: flex;
    flex-direction: column;
    min-height: 300px;
  }

  .stages__column .stages__item:last-child {
    flex: 1 0 auto;
    padding-top: 0;
  }

  .stages__row > .stages__item:last-child {
    padding-top: 63px;
  }

  .stages__btn-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    gap: 13px;
  }

  .stages__pagination.swiper-pagination-bullets  {
    flex: 0 0 auto;
    position: static;
    width: auto;
  }
}

/* persons */

.persons {
  margin-bottom: 139px;
}

.persons__container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 60px 10px;
}

.persons__btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.persons__swiper-container {
  grid-column: 1 / 3;
}

.persons__img {
  max-width: 100%;
  width: 320px;
  height: 320px;
  margin: 0 0 28px;
}

.persons__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.persons__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1px;
}

.persons__player {
  margin: 0 0 6px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.persons__text {
  margin: 0 0 20px;

  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.persons__link {
  margin-top: auto;
  padding: 8px 12px 10px;

  color: #3057A2;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;

  border: 1px solid #3057A2;
  border-radius: 62px;
}

.persons__link:hover {
  cursor: pointer;
  color: #FFFFFF;

  background-color: #3057A2;
}

.persons__pagination {
  position: static;
}

.persons .swiper-pagination-fraction {
  font-weight: 400;
  color: rgba(49, 49, 49, 0.6);
}

.persons .swiper-pagination-current {
  color: #313131;
}

@media screen and (max-width: 576px) {
  .persons {
    margin-bottom: 102px;
  }

  .persons__caption {
    margin-bottom: 39px;
  }

  .persons__container {
    grid-template-columns: 1fr;
    gap: 0;
    justify-content: center;
  }

  .persons__swiper-container {
    grid-column: 1 /2;
  }

  .persons__btn-row {
    order: 2;
    justify-self: center;
    margin-top: 40px;
    gap: 11px;
  }

  .persons__img {
    height: 244px;
    width: 244px;
  }
}

/* footer */

.footer {
  padding: 40px 0 72px;

  background-color: #E9DED4;
}

.footer__copyright {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (max-width: 576px) {
  .footer {
    padding-bottom: 60px;
  }
}
